body {
	font-family: "Arial", sans-serif;
	background-image: url(RRC.jpg);
	background-repeat: no-repeat;
    background-position: auto;
}

form {
	width: 80%;
	max-width: 31.25em;
	background: white;
	padding: 1.25em;
	border-radius: 0.5em;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}

input,
select,
textarea {
	width: 100%;
	padding: 0.625em;
	margin-top: 0.3125em;
	margin-bottom: 0.9375em;
	border: 1px solid #ddd;
	border-radius: 0.25em;
}

button {
	padding: 0.625em 1.25em;
	background-color: #008cba;
	color: white;
	border: none;
	border-radius: 0.3125em;
	cursor: pointer;
    align-self: center;
}

button:hover {
	background-color: #005f73;
}

#userForm {
  background-color: skyblue;
  padding: 2%;
  margin: auto;
  max-width: 700px;
  border-radius: 15px;
  margin-top: 70px;
  
}

.error-message {
	color: red;
	font-size: 0.9em;
	margin-top: 5px;
	margin-bottom: 10px;
	display: block;
	visibility: hidden;
}

.error-visible {
	visibility: visible;
}